{
  "root": true,
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "semi": ["error", "never"]
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  }
}
